<ion-view>
  <ion-content scroll="false" style="background: #2b87d1;text-align: center;">

    <div class="row">
      <div class="card padding col-60 col-offset-20">
        <div class="button button-small button-pill button-tiny">装逼指引</div>
        <a class="button button-small button-block button-action button-pill" href="#/cartest"><b>我的车库</b></b></a>
        <a class="button button-small button-block button-highlight button-pill mt10" href="#/touchSpeed"><b>金手指</b></a>
        <a class="button button-small button-block button-caution button-pill mt10" href="#/plateNumber"><b>最壕车牌</b></a>
        <a class="button button-small button-block button-royal button-pill mt10" href="#/poetryHead"><b>装逼大百科</b></a>
      </div>
    </div>
    <div>
      <div><img src="img/qrcode.jpg" width="80px" height="80px"/></div>
      <div class="fs12">(长按识别二维码)</div>
      <div class="pt10 fs12">关注<b class="text-orange">装逼日志</b>公众号，好玩资讯等你发现</div>
    </div>
  </ion-content>
</ion-view>
